body {
    background-color:beige;
    text-align: justify;
}

.parrafos{
    font-size: larger;
    font-weight: 400;
    font-family:'Times New Roman', Times, serif;
    color:darkslategray;
}
#listas{
    font-size:medium;
    font-family:cursive;
    color:darkseagreen
}


tabla {
    border: 1;
    width: 100%; /* Ancho completo de la tabla */
    border-collapse: collapse; /* Combina los bordes de las celdas */
    margin: 20px 0; /* Espacio alrededor de la tabla */
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /* Fuente */
    font-size: 14px; /* Tamaño de fuente */
    text-align: left; /* Alinea el texto a la izquierda */
    width: 80%;
    margin-left: 1%;
}

td {
    padding: 12px; /* Espacio interno de las celdas */
    border: 1px solid #ddd; /* Borde de celdas */
    
}
th {
    padding: 12px; /* Espacio interno de las celdas */
    border: 1px solid #ddd; /* Borde de celdas */
    background-color: #f4f4f4;
    color: #000000;
    text-align: center;

}
img {
    max-width: 50%; 
    height: auto;    
    margin-left: 45%;
}
.col3 {
    width: 25%; 
    align-items: center;
}

tr:nth-child(even) {
    background-color: #f9f9f9; /* Color de fondo alterno para filas pares */
}

tr:hover {
    background-color: #f1f1f1; /* Color de fondo al pasar el mouse por encima */
}
